<!-- Menu Oculto -->
<aside *ngIf="!showMenu;else menuOpen" class="aside-menu h-100 shadow">
    <ul class="nav flex-column closed-menu text-center h-100">
      <li class="nav-item mb-3">
        <span (click)="showHideMenu()" class="has-pointer nav-item">
        <fa-icon [icon]="['fa', 'bars']" size="1x"></fa-icon>
        </span>
      </li>
      <li class="nav-item" [routerLink]="['reporter']">
        <fa-icon [icon]="['fa', 'file-signature']"></fa-icon>
      </li>
      <li class="nav-item" [routerLink]="['todo']" >
        <fa-icon [icon]="['fa', 'tasks']" size="1x"></fa-icon>
      </li>
      <li class="nav-item mt-auto mb-2" [routerLink]="['']" >
        <fa-icon [icon]="['fa', 'power-off']" size="1x"></fa-icon>
      </li>
    </ul>
  </aside>
  <!--Menu Desplegado-->
  <ng-template #menuOpen>
    <aside class="aside-menu shadow">
      <ul class="nav flex-column opened-menu p-2 text-white">
        <li class="nav-item">
          <span (click)="showHideMenu()" class="has-pointer">
           <fa-icon [icon]="['fa', 'arrow-left']" size="1x" pull="right"></fa-icon>
          </span>
        </li>
        <li [routerLink]="['destinations']" class="nav-item">
          <p class="m-0"><fa-icon [icon]="['fa', 'file-signature']" size="1x" class="pr-2"></fa-icon>Reporter</p>
        </li>
        <li [routerLink]="['hotels']" class="nav-item">
          <p class="m-0"><fa-icon [icon]="['fa', 'tasks']" size="1x" class="pr-2"></fa-icon>ToDo</p>
        </li>
      </ul>
    </aside>
  </ng-template>
  
