<div class="d-flex flex-row flex-wrap justify-content-center">
  <ng-container *ngFor="let board of boards">
    <div class="p-4 w-50">
      <div
        class="card"
        [ngStyle]="{ 'border-color': board.prefs.backgroundColor }"
      >
        <div class="card-body">
          <h4 class="card-title pb-2" [ngStyle]="{ 'color': board.prefs.backgroundColor }">{{ board.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <span class="text-muted">Número de miembros: </span>{{ board.memberships.length }}
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            Última actividad: {{ board.dateLastActivity | date }}
          </h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button [routerLink]="['cards', board.id]" class="card-link">
            Ver Tarjetas
          </button>
          <a [href]="board.url" class="card-link">Ver en Trello</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
