<div class="d-flex flex-row justify-content-center">
  <div class="p-0 card">
    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tablero</th>
          <th scope="col">Participantes</th>
          <th scope="col">Última actividad</th>
          <th scope="col">Ver en trello</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boards; let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ board.name | slice: 0:30 }}</td>
          <td class="text-center">{{ board.memberships.length }}</td>
          <td class="text-center">{{ board.dateLastActivity | date }}</td>
          <td class="text-center">
            <a [href]="board.url" target="_blank">
              <fa-icon
                [icon]="['fa', 'eye']"
                size="1x"
                (click)="getLists(board.id)"
              ></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
