.home-container
  min-height: 100%
  height: auto !important

.logo-img-main
  width: 200px
  height: 200px


mat-sidenav-container
  background-color: #303030!important

mat-sidenav-content
  background-color: #303030!important

