<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <img class="logo-img" src="assets/angular.png">
    <h5 class="pl-2">Angular Tester</h5>
    <div class="ml-auto">
      <img class="logo-gitHub" src="assets/github-icon.svg">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="home-container">
  <mat-sidenav-content class="vh-100">
    <div class="d-flex flex-row flex-wrap justify-content-around align-items-center h-100">
      <div class="p-0 mt-5">
        <img class="img-fluid logo-img-main pt-6" src="assets/images.png">
      </div>
      <div class="p-0">
        <form>
          <mat-form-field class="w-100">
            <input matInput placeholder="Usuario" value="">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput  placeholder="Contraseña" value="">
          </mat-form-field>
          <button mat-raised-button color="primary" routerLink="/main">Entrar</button>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
