<div header-container class="d-flex flex-row align-items-center justify-content-between sticky-top">
  <div class="p-0">
    <div class="d-flex flex-row align-items-center">
      <div class="p-0">
        <img logo-img class="img-fluid" src="assets/angular.png" />
      </div>
      <div class="pl-2">
        <h3 class="display-5 text-white text-monospace">
          Angular Tester<span><strong>¨</strong></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdown"
            ngbDropdownToggle
          >
            Módulos Disponibles
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <ng-container *ngFor="let item of data.routes">
              <button ngbDropdownItem [routerLink]="[item.route]">
                {{ item.text }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2">
    <fa-icon
      (click)="logOut.emit(true)"
      [icon]="['fa', 'sign-out-alt']"
      size="1x"
    ></fa-icon>
  </div>
</div>
