/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss"
@charset "utf-8"

// TIPOGRAFIA
$font-family-sans-serif: "Roboto", sans-serif
$font-family-monospace: monospace
$font-family-code: monospace

// TEMPLATE
// Colores
$pink: #c2185b
$pink-2: #d81b60
$white: white
$black: black

//Mat
//COLORES


//CONTAINERS
mat-sidenav-container
  background-color: white

mat-sidenav-content
  background-color: white


//IMAGENES
.logo-img
  width: 46px
  height: 46px

.logo-gitHub
  width: 26px
  height: 26px
  cursor: pointer
//MENUS
mat-toolbar
  position: absolute
  top: 0
  z-index: 9999

.mat-button-wrapper
  font-size: 16px
  font-weight: 400

//Globales
//ScrollBar
/* width */
::-webkit-scrollbar
  width: 8px


/* Track */
::-webkit-scrollbar-track
  background: #f1f1f1


/* Handle */
::-webkit-scrollbar-thumb
  background: #888


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555



// ESTILOS COMUNES
//Body, Html
html, body
  height: 100%
  background-color: white
//Outline
*:focus
  outline: none !important
  box-shadow: none !important

*:active
  outline: none !important
  box-shadow: none !important





.card
  color: black!important
